* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background: rgba(243, 201, 153, 0.815);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 2px;
  width: 100%;
}
h1 {
  position:relative; right: 550px; top: 250px;
  font-size: 50px;

  margin-top: 100px;
  font-style: italic;
  color:blue;
  
}

.winner{
  position:relative; left: 500px; top: 80px;
  font-size: 20px;

  font-style: italic;
  color: rgba(0, 0, 255, 0.863);
  font-weight: bold;
}



.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 700px;
  margin: 0px 0 0px;
  width: 700px;
}

.cell {
  align-items: center;
  background: rgb(40, 181, 247);
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.cell::after {
   background: (247, 215, 128, 0.815);
   border-radius: 50%;
   border: 3px solid black;
   content: '';
   cursor: pointer;
   height: 80px;
   width: 80px;
 }


 .cell:not(.topRow).red {
  background:rgb(40, 181, 247);
}

.cell:not(.topRow).yellow {
  background:rgb(40, 181, 247);
}

.cell:not(.topRow).red::after{
  background: red;
  
}


.cell:not(.topRow).yellow::after {
  background: yellow;
  
}

.cell.topRow {
  background:rgba(240, 215, 187, 0.815);
}  

.cell.topRow::after {
  border: none;
} 
.cell.topRow.yellow::after{
background: yellow ;
border: 3px solid black;

}

.cell.topRow.red::after{
background-color: red;
border: 3px solid black;
}
.cell.win::after{
  content: "winner";
  font-size: 20px;
  color: green;
  font-style: italic;
  font-weight: bolder;
  text-align: justify;
  padding-top: 50px;
  padding-left: 18.5px;

} 

.reload{
  background-color: rgb(247, 165, 89);

  font-size: 15px;

  margin-left: 1000px ;

  margin-top: 5px;
  border-radius: 2px;
  
}